<div class="supporters">
    <div class="supporter-card">
        <img src="https://lh3.googleusercontent.com/proxy/xanldsgj_uO-UVUlRIsJ0KFX5w4YKA9qHMZfeM_uMSfu8lAI5caq3wWe4XNn4vUPRCjbswwRjbzMTJ6cV_JNZplPr9A_HQr5sF5qoW_B1nNaGGw0uBTFfbiAlLg"
            alt="supporter"
            >
    </div>
    <div class="supporter-card">
        <img src="https://lh3.googleusercontent.com/proxy/xanldsgj_uO-UVUlRIsJ0KFX5w4YKA9qHMZfeM_uMSfu8lAI5caq3wWe4XNn4vUPRCjbswwRjbzMTJ6cV_JNZplPr9A_HQr5sF5qoW_B1nNaGGw0uBTFfbiAlLg"
            alt="supporter"
            >
    </div>
    <div class="supporter-card">
        <img src="https://lh3.googleusercontent.com/proxy/xanldsgj_uO-UVUlRIsJ0KFX5w4YKA9qHMZfeM_uMSfu8lAI5caq3wWe4XNn4vUPRCjbswwRjbzMTJ6cV_JNZplPr9A_HQr5sF5qoW_B1nNaGGw0uBTFfbiAlLg"
            alt="supporter"
            >
    </div>
    <div class="supporter-card">
        <img src="https://lh3.googleusercontent.com/proxy/xanldsgj_uO-UVUlRIsJ0KFX5w4YKA9qHMZfeM_uMSfu8lAI5caq3wWe4XNn4vUPRCjbswwRjbzMTJ6cV_JNZplPr9A_HQr5sF5qoW_B1nNaGGw0uBTFfbiAlLg"
            alt="supporter"
            >
    </div>
    <div class="supporter-card">
        <img src="https://lh3.googleusercontent.com/proxy/xanldsgj_uO-UVUlRIsJ0KFX5w4YKA9qHMZfeM_uMSfu8lAI5caq3wWe4XNn4vUPRCjbswwRjbzMTJ6cV_JNZplPr9A_HQr5sF5qoW_B1nNaGGw0uBTFfbiAlLg"
            alt="supporter"
            >
    </div>
</div>