<nav class="navbar primary-color navbar-dark navbar-expand-lg">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/paw-logo.png" alt="" width="20%" 
                class="d-inline-block align-text-top">
            Adoção
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end primary-color" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <a class="navbar-brand" href="#">
                    <img src="/assets/images/paw-logo.png" alt="" width="20%" 
                        class="d-inline-block align-text-top">
                    Adoção
                </a>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Meus animais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="avatar" style="height: 40px; width: 40px; background-image: url('/assets/images/person.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav>