<div class="filter-animals-aside card border-0">
    <form>
        <p class="text-muted"><b>Tipo de animal</b></p>
        <div>
            <input type="radio" name="animal_type" id="animal_type_0" value="0" checked (click)="selectType()">
            <label for="animal_type_0">Todos</label><br>
            <div *ngFor="let type of types">
                <input type="radio" name="animal_type" id="{{type.id}}" value="{{ type.id }}" (click)="selectType(type)">
                <label for="{{ type.id }}">{{ type.name }}</label><br>
            </div>
        </div>

        <p class="mt-3 text-muted"><b>Sexo do animal</b></p>
        <div>
            <input type="radio" name="animal_sex" id="animal_sex_0" value="0" checked (click)="selectSex()">
            <label for="animal_sex_0">Todos</label><br>
            <input type="radio" name="animal_sex" id="animal_sex_1" value="1" (click)="selectSex('M')">
            <label for="animal_sex_1">Macho</label><br>
            <input type="radio" name="animal_sex" id="animal_sex_2" value="2" (click)="selectSex('F')">
            <label for="animal_sex_2">Fêmea</label><br>
        </div>
    </form>
    <button type="button" class="btn secondary-color text-light mt-3 full-width" (click)="search()">Filtrar</button>
    <button class="btn my-city-animals-card btn-light" [routerLink]="['/app/mapa']">
        <b>Ver mapa</b>
        <span class="material-icons">
            place
        </span>
    </button>
</div>