<div class="card">
    <div class="card-header">
        <div class="avatar">
            <img [src]="profileImage()" class="avatar-image">
            <p class="owner-name">{{animal!.owner.name}}</p>
        </div>
        <div class="dropdown">
            <button class="btn" type="button" id="dropdownMenuOptions" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-icons">more_vert</span>
            </button>
            <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuOptions">
                <li><button class="dropdown-item" (click)="editEmit()">Editar</button></li>
                <li><button class="dropdown-item" (click)="deleteEmit()">Deletar</button></li>
                <li>
                    <hr class="dropdown-divider m-0">
                </li>
                <li><button class="dropdown-item" (click)="vaccineModal.show()">Vacinas</button></li>
            </ul>
        </div>
    </div>
    <img [src]="animalImage()" class="card-img-top" alt="{{ animal!.name }}">
    <div *ngIf="animal?.adopted == true" class="secondary-color p-2">
        <h6 class="m-0 text-light">Adotado</h6>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">{{ animal!.name }}</h5>
            <button class="btn secondary-color text-light" (click)="parentModal.show()">Foto</button>
        </div>
        <p class="card-text">
            <b>Tipo</b>: {{ animal!.type }}<br>
            <b>Raça</b>: {{ animal!.breed }}<br>
            <span class="text-muted">Registrado em {{ animal!.create_at | date: 'dd/MM/yyyy' }}</span><br>
        </p>
    </div>
    <div class="card-footer p-0">
        <button class="btn primary-color text-light full-width m-0"
            (click)="openModal(showAdoptionRequests)">Solicitações</button>
    </div>
</div>

<div class="modal fade" bsModal #parentModal="bs-modal" tabindex="-1" role="dialog"
    aria-labelledby="dialog-nested-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="create-state-modal" class="modal-title pull-left">Imagens</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="parentModal.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 *ngIf="animal!.all_photos.length == 0" class="text-center py-5">
                    Nenhuma imagem adicionada!
                </h4>
                <div class="images">
                    <div *ngFor="let image of animal!.all_photos" class="image-content">
                        <img [src]="formatImage(image.photo)" alt="">
                        <button class="btn" (click)="removeImage(image)">Remover</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn primary-color text-light"
                    (click)="openImageModal(change_image_modal)">Adicionar</button>
            </div>
        </div>
    </div>
</div>

<ng-template #change_image_modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Fotos</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img [src]="imageSrc" alt="animal image" width="100%" height="400px" style="object-fit: contain;">
        <form>
            <div class="my-3">
                <input class="form-control" type="file" accept='image/*' id="formFile" (change)="updateImage($event)">
            </div>
            <button type="submit" class="btn full-width primary-color text-light"
                (click)="confirmImageChange()">Enviar</button>
        </form>
    </div>
</ng-template>

<div class="modal fade" bsModal #vaccineModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-vaccine">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Controle de vacinas</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="vaccineModal.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-vaccine [animal]="animal!" [vaccines]="animal!.all_vaccines"></app-vaccine>
            </div>
        </div>
    </div>
</div>

<ng-template #showAdoptionRequests>
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="create-state-modal" class="modal-title pull-left">Solicitações de adoção</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="decline()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body p-0">
            <ul class="list-group">
                <div *ngIf="animal != undefined">
                    <li *ngFor="let adoption_request of adoptionRequests" class="list-group-item d-flex justify-content-between align-items-center"
                    [ngClass]="{'adopted': adoption_request.is_acepted == true, 'rejected': adoption_request.is_acepted == false}">
                        <div class="requester-data align-items-center">
                            <h5 class="m-0">{{ adoption_request.requester.name }}</h5>
                            <p class="m-0">{{ adoption_request.requester.contact }}</p>
                        </div>
                        <div *ngIf="showAdoptButtons(adoption_request)" class="options">
                            <button class="btn"><span class="material-icons text-success" (click)="confirmAdoptionRequest(adoption_request)">check</span></button>
                            <button class="btn"><span class="material-icons text-danger" (click)="rejectAdoptionRequest(adoption_request)">close</span></button>
                        </div>
                        <div *ngIf="showDeleteAdoptButton(adoption_request)" class="options">
                            <button class="btn btn-danger" (click)="deleteAdoptionRequest(adoption_request)">Deletar</button>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</ng-template>