<div class="content primary-color">
    <div class="login">
        <img src="/assets/images/paw-logo.png" alt="logo" width="75px">
        <h1 class="title" id="login">login</h1>
        <p class="subtitle">Entre na sua conta, utilizando as suas credenciais</p>

        <form>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
                <label for="password">Senha</label>
            </div>

            <button class="btn secondary-color text-light full-width">Entrar</button>
        </form>
        <a class="btn mt-3" [routerLink]="['/account/register']" >Criar novo perfil</a>
    </div>
</div>