<div class="card">
    <div class="card-header">
        <div class="avatar">
            <img src="/assets/images/dog.jpg" class="avatar-image">
            <p class="owner-name">Nome do dono</p>
        </div>
    </div>
    <img src="/assets/images/dog.jpg" class="card-img-top" alt="{{ animal!.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ animal!.name }}</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
    </div>
</div>