<main class="mb-5">
    <app-header></app-header>

    <div id="animals-for-adoption">
        <div class="filter-animals card px-2 py-1">
            <span>Filtrar dados</span>
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter"
                aria-controls="offcanvasFilter">
                <span class="material-icons">filter_list</span>
            </button>
        </div>

        <div class="content container">
            <aside>
                <app-animal-filter></app-animal-filter>
                <app-supporters></app-supporters>
            </aside>

            <section>
                <div class="card mx-3 mt-4 p-2 data-head">
                    <h5>meus animais</h5>
                    <button class="btn secondary-color text-light"
                        (click)="animalEditModal(createAnimalModal)">Adicionar</button>
                </div>
                <div class="animal-list">
                    <div class="animal-card row row-cols-1 row-cols-md-2 g-4">
                        <app-edit-animal-card *ngFor="let animal of animals" [animal]="animal"
                            (editAnimal)="animalEditModal(createAnimalModal, animal)"
                            (deleteAnimal)="deleteAnimal(animal)"
                            (blockAnimal)="toggleBlockAnimal(animal)"></app-edit-animal-card>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasFilterLabel">Filtrar dados</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <app-animal-filter></app-animal-filter>
            <app-supporters></app-supporters>
        </div>
    </div>
</main>

<ng-template #createAnimalModal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="create-state-modal" class="modal-title pull-left">Edição de animal</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="decline()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-animal-form [animal]="selectedAnimal" (animalOutput)="addAnimal($event)"></app-animal-form>
        </div>
    </div>
</ng-template>

<ng-template #confirmDelete>
    <div class="modal-body text-center">
        <p>Deseja deletar "{{ selectedAnimal!.name }}"?</p>
        <button type="button" class="btn btn-default" (click)="deleteAnimalFromDatabase()">Sim</button>
        <button type="button" class="btn btn-default" (click)="decline()">Não</button>
    </div>
</ng-template>
