<main class="mb-5">
    <app-header></app-header>

    <div id="animals-for-adoption">
        <div class="content container">
            <section>
                <div class="card mx-3 mt-4 p-2 data-head">
                    <h5>meus animais</h5>
                    <button class="btn secondary-color text-light"
                        (click)="animalEditModal(createAnimalModal)">Adicionar</button>
                </div>
                <div class="animal-list">
                    <div class="animal-card row row-cols-1 row-cols-md-3 g-4">
                        <app-edit-animal-card *ngFor="let animal of animals" [animal]="animal"
                            (editAnimal)="animalEditModal(createAnimalModal, animal)"
                            (deleteAnimal)="deleteAnimal(animal)" (blockAnimal)="toggleBlockAnimal(animal)">
                        </app-edit-animal-card>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

<ng-template #createAnimalModal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="create-state-modal" class="modal-title pull-left">Edição de animal</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="decline()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-animal-form [animal]="selectedAnimal" (animalOutput)="addAnimal($event)"></app-animal-form>
        </div>
    </div>
</ng-template>

<ng-template #confirmDelete>
    <div class="modal-body text-center">
        <p>Deseja deletar "{{ selectedAnimal!.name }}"?</p>
        <button type="button" class="btn btn-default" (click)="deleteAnimalFromDatabase()">Sim</button>
        <button type="button" class="btn btn-default" (click)="decline()">Não</button>
    </div>
</ng-template>