/* You can add global styles to this file, and also import other style files */
@primary-color: #8A2BE2;
@secondary-color: #FFA500;
@scaffold-color: #EEEEEE;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: @scaffold-color;
}
