/* You can add global styles to this file, and also import other style files */
@primary-color: #8A2BE2;
@secondary-color: #FFA500;
@scaffold-color: #EEEEEE;

::-webkit-scrollbar {
    width: 7px;

    @media screen and (min-width: 768px) {
        width: 10px;
    }
}


::-webkit-scrollbar-thumb {
    background-color: @secondary-color;
}


* {
    box-sizing: border-box;
}

input {
    accent-color: @secondary-color;

    &[type=radio] {
        margin-right: 10px;
    }
}

body {
    background-color: @scaffold-color;
}

.primary-color {
    background-color: @primary-color;
}

.secondary-color {
    background-color: @secondary-color;
}

.nav-item {
    display: flex;
    align-items: center !important;
}

.full-width {
    width: 100%;
}