<app-header></app-header>

<main class="card bg-light p-0">

    <aside class="animal-image">
        <img src="{{animalImage()}}" alt="animal">
    </aside>

    <section class="animal-data p-3">
        <div class="text-center">
            <h1>{{ animalShow.name }}</h1>
            <p>{{ animalShow.type }} - {{ animalShow.breed }}</p>
            <p>Idade: {{ animalShow.age }} anos</p>
        </div>

        <table class="table table-striped table-hover">
            <caption>Vacinas aplicadas</caption>
            <thead>
                <tr>
                    <th scope="col">Data do registro</th>
                    <th scope="col">Nome da vacina</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vaccine of animalShow.all_vaccines">
                    <td>{{ vaccine.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ vaccine.vaccine_name }}</td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="adotionRequestCreated; else solicitarAdocao">
            <div *ngIf="animalShow.adopted == false || animalShow.adopted == undefined; else cancelButtonDisabled">
                <button class="btn btn-danger full-width py-2" (click)="cancelAdoption()">Cancelar solicitação</button>
            </div>
            <ng-template #cancelButtonDisabled>
                <button class="btn btn-secondary full-width py-2">Animal adotado</button>
            </ng-template>
        </div>
        <ng-template #solicitarAdocao>
            <button class="btn secondary-color text-light full-width py-2" (click)="requestAdoption()">Solicitar adoção</button>
        </ng-template>

        <div class="images my-4 full-width">
            <img *ngFor="let photo of animalShow.all_photos" [src]="serverPhoto(photo.photo)" alt="Animal" (click)="showAnimal(photo.photo, showAnimalTemplate)">
        </div>
    </section>

</main>

<ng-template #showAnimalTemplate>
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="create-state-modal" class="modal-title pull-left">Foto</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="decline()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body p-0">
            <img src="{{ selectedPhoto }}" alt="Apresentação" width="100%">
        </div>
    </div>
</ng-template>