<nav class="navbar primary-color navbar-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            Administração
        </a>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <button class="btn text-light" (click)="locationModal.show()">Estados</button>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div id="content" class="row">
    <div class="person-container col col-sm-auto">
        <app-person-list [persons]="persons" (personEmit)="selectPerson($event)"></app-person-list>
    </div>

    <div class="person-detail col ">
        <div class="header secondary-color">
            <div class="image-container">
                <img [src]="profileImage()" alt="profile image">
            </div>
        </div>
        <div class="person-data p-3 text-center">
            <div class="status">
                <h1 class="badge primary-color mx-1">{{ selectedPerson != null && selectedPerson.isModerator == true ?
                    'Moderador' : '' }}</h1>
                <h1 class="badge bg-danger mx-1">{{ selectedPerson != null && selectedPerson.isActive == false ?
                    'Bloqueada' : '' }}</h1>
            </div>
            <h5>{{ selectedPerson != null ? selectedPerson.name + ' - ' + selectedPerson.username : '' }}</h5>
            <p>{{ selectedPerson != null ? selectedPerson.contact : '' }}</p>

            <div class="controls">
                <button class="btn secondary-color text-light mx-2" (click)="changeModeratorPerson()">
                    {{ selectedPerson != null && selectedPerson.isModerator == true ? 'Remover moderador' : 'Moderador'
                    }}
                </button>
                <button class="btn secondary-color text-light mx-2" (click)="changeBlockPerson()">
                    {{ selectedPerson != null && selectedPerson.isActive == false ? 'Remover bloqueio' : 'Bloquear' }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header primary-color mb-0">
        <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">Usuários da aplicação</h5>
        <button type="button" class="btn-close text-reset bg-light" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">
        <app-person-list [persons]="persons" (personEmit)="selectPerson($event)"></app-person-list>
    </div>
</div>

<div class="modal fade" bsModal #locationModal="bs-modal" tabindex="-1" role="dialog"
    aria-labelledby="dialog-nested-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header primary-color text-light">
                <h4 class="modal-title pull-left">Estados</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="locationModal.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col-5">
                        <div class="list-group" id="list-tab" role="tablist">
                            <button class="list-group-item list-group-item-success"
                                (click)="createStateModal.show()">Adicionar
                                estado</button>
                            <ul class="list-group list-group-flush">
                                <li *ngFor="let state of locations" class="list-group-item"
                                    (click)="selectState(state)">
                                    {{state.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                                aria-labelledby="list-home-list">
                                <div *ngIf="selectedLocation != null">
                                    <ul class="list-group list-group-flush">
                                        <button class="list-group-item list-group-item-success"
                                            (click)="createCityModal.show()">Adicionar
                                            cidade</button>
                                        <li *ngFor="let city of selectedLocation.cities" class="list-group-item">{{
                                            city.name }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #createStateModal="bs-modal" tabindex="-1" role="dialog"
    aria-labelledby="create-state-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="create-state-modal" class="modal-title pull-left">Estado</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="createStateModal.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" placeholder="Nome do estado">
                        <label for="name">Nome do estado</label>
                    </div>
                    <button class="btn secondary-color text-light full-width">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #createCityModal="bs-modal" tabindex="-1" role="dialog"
    aria-labelledby="create-city-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="create-city-modal" class="modal-title pull-left">Cidade</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="createCityModal.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" placeholder="Nome da cidade">
                        <label for="name">Nome da cidade</label>
                    </div>
                    <select class="form-select mb-2" aria-label="Estado">
                        <option *ngFor="let state of locations" value="{{state.id}}">{{state.name}}</option>
                    </select>
                    <button class="btn secondary-color text-light full-width">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>