<div id="content">

    <!-- <app-header></app-header> -->

    <div class="header primary-color">
        <div class="image-container">
            <img [src]="getProfileImage" alt="profile image" width="100%">
            <div class="image-control">
                <button class="btn text-light" (click)="openModal(change_image_modal)">Atualizar
                    imagem</button>
                <button class="btn text-light" (click)="openModal(remove_image_modal)">Remover imagem</button>
            </div>
        </div>
    </div>

    <div class="profile-data">
        <h1 class="title">Dados pessoais</h1>
        <form class="mt-3" [formGroup]="formPerson" (submit)="updateProfileData()">
            <div class="row g-2">
                <div class="form-floating mb-3 col">
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nome completo"
                        [value]="person.name">
                    <label for="name">Nome completo</label>
                </div>
                <div class="form-floating mb-3 col">
                    <input type="text" class="form-control" id="username" placeholder="username"
                        [value]="person.username" readonly>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="contact" matInput mask="(00) 00000-0000"
                    formControlName="contact" placeholder="Contato" [value]="person.contact">
                <label for="contact">Contato</label>
            </div>
            <div class="row g-2">
                <div class="form-floating mb-3 col">
                    <input type="password" class="form-control" id="password" formControlName="password"
                        placeholder="Senha" autocomplete="off">
                    <label for="password">Senha (Editar para alterar)</label>
                </div>
            </div>
            <div class="row g-2">
                <select class="form-select col" aria-label="Estado" (change)="selectState($event)">
                    <option *ngFor="let state of locations" value="{{ state.id }}"
                        [attr.selected]="selectedState.id == state.id ? true : null">{{ state.name }}</option>
                </select>
                <select class="form-select col mx-2" aria-label="Cidade" (change)="selectCity($event)">
                    <option *ngFor="let city of selectedState.cities" value="{{ city.id }}"
                        [attr.selected]="selectedCityID == city.id ? true : null">{{ city.name }}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success full-width mt-3">Atualizar dados</button>
        </form>
        <div class="row mt-1">
            <div class="col" style="padding-right: 2px;">
                <button type="button" class="btn btn-outline-success full-width" (click)="getCurrentLocation()">Informar
                    localização</button>
            </div>
            <div class="col" style="padding-left: 2px;">
                <button type="button" class="btn btn-outline-danger full-width" (click)="logout()">Encerrar
                    sessão</button>
            </div>
        </div>
        <div class="col mt-1">
            <a type="button" href="/app" class="btn full-width" (click)="getCurrentLocation()">Cancelar</a>
        </div>
    </div>
</div>

<ng-template #change_image_modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Imagem</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img [src]="imageSrc" alt="profile image" width="100%">

        <form>
            <div class="my-3">
                <label for="formFile" class="form-label">Nova imagem</label>
                <input class="form-control" type="file" accept='image/*' id="formFile" (change)="updateImage($event)">
            </div>
            <button class="btn secondary-color text-light full-width" [attr.disabled]="imageIsValid ? null : true"
                (click)="confirmImageChange()">Atualizar</button>
        </form>
    </div>
</ng-template>

<ng-template #remove_image_modal>
    <div class="modal-body text-center">
        <p>Deseja remover a foto de perfil?</p>
        <button type="button" class="btn btn-default" (click)="removerImage()">Sim</button>
        <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Não</button>
    </div>
</ng-template>