<div id="content">

    <div class="header secondary-color">
        <div class="image-container">
            <img [src]="imageSrc" alt="profile image" width="100%">
            <button class="btn text-light mt-3" (click)="openModal(change_image_modal)">Atualizar imagem</button>
        </div>
    </div>

    <div class="profile-data">
        <h1 class="title">Dados pessoais</h1>
        <form class="mt-3">
            <div class="row g-2">
                <div class="form-floating mb-3 col">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nome completo">
                    <label for="name">Nome completo</label>
                </div>
                <div class="form-floating mb-3 col">
                    <input type="text" class="form-control" id="username" name="username" placeholder="username">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="v" name="contact" placeholder="Contato">
                <label for="contact">Contato</label>
            </div>
            <div class="row g-2">
                <div class="form-floating mb-3 col">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
                    <label for="password">Senha</label>
                </div>
            </div>
            <div class="row g-2">
                <select class="form-select col" aria-label="Estado">
                    <option selected>Estado</option>
                    <option value="1">Piauí</option>
                    <option value="2">Maranhão</option>
                </select>
                <select class="form-select col mx-2" aria-label="Cidade" disabled>
                    <option selected>Cidades</option>
                    <option value="1">Teresina-PI</option>
                    <option value="2">Timon-MA</option>
                </select>
            </div>

            <button class="btn secondary-color text-light full-width mt-3">Atualizar</button>
        </form>
    </div>
</div>

<ng-template #change_image_modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Imagem</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img [src]="imageSrc" alt="profile image" width="100%">

        <form>
            <div class="my-3">
                <label for="formFile" class="form-label">Nova imagem</label>
                <input class="form-control" type="file" accept='image/*' id="formFile" (change)="updateImage($event)">
            </div>
            <button class="btn secondary-color text-light full-width">Atualizar</button>
        </form>
    </div>
</ng-template>