<nav class="navbar primary-color navbar-dark navbar-expand-lg py-3">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/paw-logo.png" alt="" width="30" class="d-inline-block align-text-top">
            Adotamigo Web
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end primary-color" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <a class="navbar-brand" href="#">
                    <img src="/assets/images/paw-logo.png" alt="" width="30" class="d-inline-block align-text-top">
                    Adotamigo Web
                </a>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item" onclick="removeBodyStyle()">
                        <a class="nav-link" [routerLink]="['/app']" [routerLinkActive]="'router-link-active'"
                            [routerLinkActiveOptions]="{exact: true}">Home</a>
                    </li>
                    <li class="nav-item" onclick="removeBodyStyle()">
                        <a class="nav-link" [routerLink]="['/app/meus']" [routerLinkActive]="'router-link-active'">Meus
                            animais</a>
                    </li>
                    <li class="nav-item" onclick="removeBodyStyle()">
                        <a class="nav-link" [routerLink]="['/account']">Perfil</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav>