<main>
    <div class="col states">
        <ul>
            <button class="btn full-width text-left secondary-color text-light" (click)="stateEditModal(createStateModal)">Novo
                estado</button>
            <li *ngFor="let state of locations" class="state-item">
                <div class="item-content">
                    <p>{{ state.name }}</p>
                    <button class="btn"><span class="material-icons text-primary" (click)="stateEditModal(createStateModal, state)">edit</span></button>
                    <button class="btn"><span class="material-icons text-danger" (click)="stateDeleteConfirmModal(deleteStatePrompt, state)">delete</span></button>
                </div>
                <ul>
                    <li *ngFor="let city of state.cities" class="city-item">
                        <div class="item-content">
                            <p>{{ city.name }}</p>
                            <button class="btn"><span class="material-icons text-primary" (click)="cityEditModal(createCityModal, city, state.id)">edit</span></button>
                            <button class="btn"><span class="material-icons text-danger" (click)="cityDeleteConfirmModal(deleteCityPrompt, city)">delete</span></button>
                        </div>
                    </li>
                    <button class="btn full-width text-left city-item" (click)="cityEditModal(createCityModal, undefined, state.id)">Adicionar
                        cidade</button>
                </ul>
            </li>
        </ul>
    </div>
</main>


<ng-template #createStateModal >
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="create-state-modal" class="modal-title pull-left">Estado</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close"
                (click)="decline()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="stateForm">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" formControlName="name" placeholder="Nome do estado" value="{{ selectedState != null ? selectedState.name : '' }}">
                    <label for="name">Nome do estado</label>
                </div>
                <button class="btn secondary-color text-light full-width" (click)="stateUpdate()">Salvar</button>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #createCityModal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="create-city-modal" class="modal-title pull-left">Cidade</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close"
                (click)="decline()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="cityForm">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" formControlName="name" placeholder="Nome da cidade" value="{{ selectedCity != null ? selectedCity.name : '' }}">
                    <label for="name">Nome da cidade</label>
                </div>
                <select class="form-select mb-2" aria-label="Estado" formControlName="state">
                    <option *ngFor="let state of locations" value="{{ state.id }}" [attr.selected]="cityForm.get('state')?.value! == state.id ? true : null">{{ state.name }}</option>
                </select>
                <button class="btn secondary-color text-light full-width" (click)="cityUpdate()">Salvar</button>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #deleteCityPrompt>
    <div class="modal-body text-center">
        <p>Deletar a cidade selecionada?</p>
        <button type="button" class="btn btn-default" (click)="deleteCity()">Sim</button>
        <button type="button" class="btn btn-default" (click)="decline()">Não</button>
    </div>
</ng-template>


<ng-template #deleteStatePrompt>
    <div class="modal-body text-center">
        <p>Deletar o estado selecionado?</p>
        <button type="button" class="btn btn-default" (click)="deleteState()">Sim</button>
        <button type="button" class="btn btn-default" (click)="decline()">Não</button>
    </div>
</ng-template>