<main>
    <div class="filter-persons card px-2 py-1">
        <span>Filtrar dados</span>
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPersonList"
            aria-controls="offcanvasPersonList">
            <span class="material-icons">filter_list</span>
        </button>
    </div>
    
    <div id="content" class="row">
        <div class="person-container col col-sm-auto">
            <app-person-list [persons]="persons" [allPersons]="persons" (personEmit)="selectPerson($event)"></app-person-list>
        </div>
    
        <div class="person-detail col">
            <div class="header secondary-color">
                <div class="image-container">
                    <img [src]="profileImage()" alt="profile image">
                </div>
            </div>
            <div class="person-data p-3 text-center">
                <div class="status">
                    <h1 class="badge primary-color mx-1">{{ selectedPerson != null && selectedPerson.is_moderator == true ?
                        'Moderador' : '' }}</h1>
                    <h1 class="badge bg-danger mx-1">{{ selectedPerson != null && selectedPerson.is_active == false ?
                        'Bloqueada' : '' }}</h1>
                </div>
                <h5>{{ selectedPerson != null ? selectedPerson.name + ' - ' + selectedPerson.username : '' }}</h5>
                <p>{{ selectedPerson != null ? selectedPerson.contact : '' }}</p>
    
                <div class="controls">
                    <button class="btn secondary-color text-light mx-2" (click)="changeModeratorPerson()">
                        {{ selectedPerson != null && selectedPerson.is_moderator == true ? 'Remover moderador' : 'Moderador'
                        }}
                    </button>
                    <button class="btn secondary-color text-light mx-2" (click)="changeBlockPerson()">
                        {{ selectedPerson != null && selectedPerson.is_active == false ? 'Remover bloqueio' : 'Bloquear' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasPersonList" aria-labelledby="offcanvasPersonListLabel">
    <div class="offcanvas-header primary-color mb-0">
        <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">Usuários da aplicação</h5>
        <button type="button" class="btn-close text-reset bg-light" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">
        <app-person-list [persons]="persons" [allPersons]="persons" (personEmit)="selectPerson($event)"></app-person-list>
    </div>
</div>
